.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 200px;
  border: 1px solid black;
  align-items: center;
}

.input_form {
  width: 100%;
}

.inner_container {
  width: 100%;
}
